<h2 class="title text-center">Địa chỉ giao hàng</h2>

<div class="dashboard-address" ng-show="addresses.length">
	<p class="new-address"><a ui-sref="account.createAddress"><i class="fa fa-plus-square-o"></i> <strong>Thêm địa chỉ mới</strong></a></p>
	<div class="col-md-6" ng-repeat="address in addresses | orderBy:'-default'">
		<div class="panel panel-default address"  ng-class="{default: address.default}">
			<p><strong>{{ address.name }}</strong></p>
			<p>Địa chỉ: {{address.street}}, {{address.ward.title}}, {{address.district.title}}, {{address.city.title}}.</p>
			<p>Điện thoại: {{address.phone}}</p>
			
			<div class="button-group">
				<!-- <a class="btn btn-default btn-choose-address" ng-class="{'chosen-address': address.default}" ng-click="chooseAddress(address._id)">Giao đến địa chỉ này</a> -->		
				<a class="btn btn-default btn-choose-address" ng-class="{'chosen-address': address.default}" ng-click="chooseAddress(address)">Giao đến địa chỉ này</a>	
			</div>
			<span ng-if="address.default">Mặc định</span>
		</div>
	</div>
</div>

<div ng-hide="addresses.length">
	<p>Bạn chưa có địa chỉ nào</p>
	<p class="new-address"><a ui-sref="account.createAddress"><i class="fa fa-plus-square-o"></i> <strong>Thêm địa chỉ mới</strong></a></p>
</div>