.padding-right {
  padding-right: 0;
}

.features_items{
  overflow:hidden;
}


h2.title {
  color: #FE980F;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  font-weight: 700;
  margin: 0 15px;
  text-transform: uppercase;
  margin-bottom: 30px;
  position: relative;
}

.toolbox {
  padding: 15px 0;
  border: 1px solid #f5f5f5;
  margin-bottom: 30px;

  .search_box {
    width: 100%;
  }
  .search_box input {
    background: #F0F0E9;
    border: medium none;
    color: #B2B2B2;
    font-family: 'roboto';
    font-size: 12px;
    font-weight: 300;
    height: 35px;
    outline: medium none;
    padding-left: 10px;
    width: 100%;
    background-image: url(../assets/images/searchicon.png);
    background-repeat: no-repeat;
    background-position: 240px;
  }

  .sort-group {
    .btn {
      display: inline-block;
      background: #ffb214;
      color: #FFF;
      width: 80px;
      border-color: #FE980F;

      &:hover {
        background: #FE980F
      }
    }

    .btn.active {
      background: #FE980F
    }
  }
}

.product-image-wrapper{
  border:1px solid #F7F7F5;
  overflow: hidden;
  margin-bottom:30px;
}

.single-products {
  position: relative;
}

// .new, .sale {
//   position: absolute;
//   top: 0;
//   right: 0;
// }

.productinfo h2{
  color: #FE980F;
  font-family: 'Roboto', sans-serif;
  font-size: 24px;
  font-weight: 700;
}

// .product-overlay h2{
//   color: #fff;
//   font-family: 'Roboto', sans-serif;
//   font-size: 24px;
//   font-weight: 700;
// }

.productinfo p{
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #696763;
}

.productinfo img{
  width: 100%;
}

.productinfo{
 position:relative;
}

// .product-overlay {
//   background:#FE980F;
//   top: 0;
//   display: none;
//   height: 0;
//   position: absolute;
//   transition: height 500ms ease 0s;
//   width: 100%;
//   display: block;
// }

// .single-products:hover .product-overlay {
//   display:block;
//   height:100%;
// }


// .product-overlay .overlay-content {
//   bottom: 0;
//   position: absolute;
//   bottom: 0;
//   text-align: center;
//   width: 100%;
// }

// .product-overlay .add-to-cart {
//   background:#fff;
//   border: 0 none;
//   border-radius: 0;
//   color: #FE980F;
//   font-family: 'Roboto', sans-serif;
//   font-size: 15px;
//   margin-bottom: 25px;
// }

// .product-overlay .add-to-cart:hover {
//   background:#fff;
//   color: #FE980F;
// }


// .product-overlay p{
//   font-family: 'Roboto', sans-serif;
//   font-size: 14px;
//   font-weight: 400;
//   color: #fff;
// }



.add-to-cart {
  background:#F5F5ED;
  border: 0 none;
  border-radius: 0;
  color: #696763;
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  margin-bottom: 25px;
}

.add-to-cart:hover {
  background: #FE980F;
  border: 0 none;
  border-radius: 0;
  color: #FFFFFF;
}

.add-to{
  margin-bottom: 10px;
}

.add-to-cart i{
  margin-right:5px;
}