<uib-tabset active="0">

  <uib-tab index="2" heading="Đơn hàng" class="pull-right">
  	<div ng-repeat="order in orders">
  		{{order._id}}
  	</div>
  </uib-tab>

  <uib-tab index="1" heading="Sổ địa chỉ" class="pull-right">
    <div class="dashboard-address">
      <!-- <p class="new-address"><a ui-sref="account.createAddress"><i class="fa fa-plus-square-o"></i> <strong>Thêm địa chỉ mới</strong></a></p> -->
      <div class="col-md-12" ng-repeat="address in addresses | orderBy:'-default'">
        <div class="panel panel-default address"  ng-class="{default: address.default}">
          <p><strong>{{ address.name }}</strong></p>
          <p>Địa chỉ: {{address.street}}, {{address.ward.title}}, {{address.district.title}}, {{address.city.title}}.</p>
          <p>Điện thoại: {{address.phone}}</p>
          <span ng-if="address.default">Mặc định</span>
        </div>
      </div>
    </div>
  </uib-tab>

  <uib-tab index="0" heading="Thông tin" class="pull-right" active>
    <p>{{info.name}}</p>
    <p>{{info.email}}</p>
  </uib-tab>
  
 </uib-tabset>
