<div class="row">
  <div class="col-lg-12">
    <div class="widget">
      <div class="widget-header">
        <div class="row">
          <div class="pull-left"><i class="fa" ng-class="icon"></i> 
            Customers 
          </div>
          <div class="pull-right col-xs-6 col-sm-4">
            <input type="text" placeholder="Search" class="form-control input-sm" ng-model="query">    
          </div>
        </div>
      </div>
      <div class="widget-body no-padding">
        <rd-loading ng-show="loading"></rd-loading>
        <div ng-hide="loading" class="widget-content">
          <div class="table-responsive">
            <table class="table">
              <thead>
                <tr>
                  <th width="30%">#</th>
                  <th width="20%"ng-click="order('name')">Full Name</th>
                  <th width="20%"ng-click="order('email')">Email</th>
                  <th width="10%"ng-click="order('numAddresses')">Addresses</th>
                  <th width="10%"ng-click="order('numOrders')">Orders</th>
                  <th width="10%"></th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="user in users | orderBy:predicate:reverse | filter:query">
                  <td style="vertical-align:middle">{{user._id}}</td>
                  <td style="vertical-align:middle">{{user.name}}</td>
                  <td style="vertical-align:middle">{{user.email}}</td>
                  <td style="vertical-align:middle">
                    <a ui-sref="admin.customers-addresses({id: user._id})">{{user.numAddresses}}</a>
                  </td>
                  <td style="vertical-align:middle">
                    <a ui-sref="admin.customers-orders({id: user._id})">{{user.numOrders}}</a>
                  </td>
                  <td style="vertical-align:middle">
                    <a ng-click="delete(user)" class="btn btn-danger"><i class="fa fa-trash"></i></a>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>  
        </div>
      </div>
    </div>
  </div>
</div>
  
<!-- <div class="row">
  <div class="col-md-4">
    <input type="text" ng-model="query">
    <ul class="list-group user-list">
      <li class="list-group-item" ng-repeat="user in users | filter:query">
        <a ui-sref=".detail({id: user._id})">
          <div class="user-info">
              <strong>{{user.name}}</strong><br>
              <span class="text-muted">{{user.email}}</span>
          </div>
        </a>
      </li>
    </ul>
  </div>

  <div class="col-md-8">
    <div ui-view></div>
  </div>
</div> -->