<div class="row">
  <div class="col-lg-12">
    <div class="widget">
      <div class="widget-header">
        <div class="row">
          <div class="pull-left"><i class="fa" ng-class="icon"></i> 
            <i class="fa fa-users"></i>
            Khách hàng - {{users.length}}
          </div>
          <div class="pull-right col-xs-6 col-sm-4">
            <input type="text" placeholder="Tìm kiếm" class="form-control input-sm" ng-model="query">    
          </div>
        </div>
      </div>
      <div class="widget-body no-padding">
        <div class="loading" ng-show="loading">
          <div class="double-bounce1"></div>
          <div class="double-bounce2"></div>
        </div>
        <div ng-hide="loading" class="widget-content">
          <div class="table-responsive">
            <table class="table">
              <thead>
                <tr>
                  <th width="25%">#</th>
                  <th width="20%">Họ tên</th>
                  <th width="20%">Email</th>
                  <th width="12.5%" ng-click="order('numAddresses')">Địa chỉ</th>
                  <th width="12.5%" ng-click="order('numOrders')">Đơn đặt hàng</th>
                  <th width="10%"></th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="user in users | orderBy:predicate:reverse | filter:query">
                  <td style="vertical-align:middle">{{user._id}}</td>
                  <td style="vertical-align:middle">{{user.name}}</td>
                  <td style="vertical-align:middle">{{user.email}}</td>
                  <td style="vertical-align:middle">
                    <a ng-show="user.numAddresses > 0" ui-sref="admin.customers-addresses({id: user._id})">{{user.numAddresses}}</a>
                    <span ng-hide="user.numAddresses > 0" style="color: #333">0</span>
                  </td>
                  <td style="vertical-align:middle">
                    <a ng-show="user.numOrders > 0" ui-sref="admin.customers-orders({id: user._id})">{{user.numOrders}}</a>
                    <span ng-hide="user.numOrders > 0" style="color: #333">0</span>
                  </td>
                  <td style="vertical-align:middle">
                    <a ng-click="delete(user)" class="btn btn-danger"><i class="fa fa-trash"></i></a>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>  
        </div>
      </div>
    </div>
  </div>
</div>