$icon-font-path: "../bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";
@import '../bower_components/bootstrap-sass-official/vendor/assets/stylesheets/bootstrap';
@import '../bower_components/bootstrap-social/bootstrap-social.scss';
$fa-font-path: "../bower_components/font-awesome/fonts";
@import '../bower_components/font-awesome/scss/font-awesome';

@import url(http://fonts.googleapis.com/css?family=Roboto:400,300,400italic,500,700,100);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,800,300,600,700);
@import url(http://fonts.googleapis.com/css?family=Abel);
@import url(https://fonts.googleapis.com/css?family=Lato:400,700);
@import url(https://fonts.googleapis.com/css?family=Pacifico);
@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);

/**
 * App-wide Styles
 */
$link-color-main: rgba(255, 255, 255, .8);
$link-hover-color-main: rgba(255, 255, 255, 1);
$link-color: #666;
$link-hover-color: #333;
$red: #F76D50;

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  font-family: 'Lato', sans-serif;
  position: relative;
  font-weight: 400px;

  .padding-top {
  	padding-top: 80px;
  }
}

ul li {
  list-style: none;
}

// Component styles are injected through grunt
// injector
@import 'account/account.scss';
@import 'admin/admin.scss';
@import 'checkout/checkout.scss';
@import 'main/main.scss';
@import 'products/products.scss';
@import '../components/footer/footer.scss';
@import '../components/modal/modal.scss';
@import '../components/navbar/navbar.scss';
@import '../components/oauth-buttons/oauth-buttons.scss';
@import '../components/sidebar/sidebar.scss';
// endinjector
