<header id="header">

  <div class="header_top">
    <div class="container">
      <div class="row">
        <div class="col-sm-6 ">
          <div class="contactinfo">
            <ul class="nav nav-pills">
              <li><a href=""><i class="fa fa-phone"></i> +84 909 347 694</a></li>
              <li><a href=""><i class="fa fa-envelope"></i> builevutam4494@gmail.com</a></li>
            </ul>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="social-icons pull-right">
            <ul class="nav navbar-nav">
              <li><a href="https://www.facebook.com/tam.builevu"><i class="fa fa-facebook"></i></a></li>
              <li><a href="https://github.com/TamHi"><i class="fa fa-github"></i></a></li>
              <li><a href="https://plus.google.com/u/0/113161648173584959596"><i class="fa fa-google-plus"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <div class="header-middle">
    <div class="container">
      <div class="row">
        <div class="col-sm-2">
          <div class="logo pull-left">
            <a ui-sref="main"><img src="assets/images/logo.png" alt="Dandelion" /></a>
          </div>
        </div>

        <div class="col-md-4">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
          </div>
          <div class="mainmenu pull-left">
            <ul class="nav navbar-nav collapse navbar-collapse">
              <li ng-repeat="item in menu" ui-sref-active="active">
                <a ui-sref="{{item.state}}">{{item.title}}</a>
              </li>
              <li ng-show="isAdmin()" ui-sref-active="active">
                <a ui-sref="admin">Dashboard</a>
              </li>
            </ul>
          </div>
        </div>

        <div class="col-sm-6">
          <div class="shop-menu pull-right">
            <ul class="nav navbar-nav">
              <li ng-hide="isLoggedIn()" ui-sref-active="active"><a ui-sref="signup">Sign up</a></li>
              <li ng-hide="isLoggedIn()" ui-sref-active="active"><a ui-sref="login">Login</a></li>
              <li ng-show="isLoggedIn()" class="dropdown">
                <a href="#">Tài khoản<i class="fa fa-angle-down"></i></a>
                <ul role="menu" class="sub-menu">
                  <li><a ui-sref="account.edit">Thông tin tài khoản</a></li>
                  <li><a ui-sref="account.addresses">Sổ địa chỉ</a></li> 
                  <li><a ui-sref="account.orders">Đơn hàng</a></li>
                </ul>
              </li> 
              <!-- <li ng-show="isLoggedIn()" ui-sref-active="active"><a ui-sref="settings"><span class="glyphicon glyphicon-cog"></span></a></li> -->
              <li ng-show="isLoggedIn()"><a ui-sref="logout">Logout</a></li>
              <li>
                <a ui-sref="checkout" ng-mouseover="showCart()">
                  <ngcart-summary template-url="components/ngcart/summary.html"></ngcart-summary>
                </a>
              </li>
              <!-- <li><a href=""><i class="fa fa-user"></i> Account</a></li>
              <li><a href="checkout.html"><i class="fa fa-crosshairs"></i> Checkout</a></li>
              <li><a href="cart.html"><i class="fa fa-shopping-cart"></i> Cart</a></li>
              <li><a href="login.html"><i class="fa fa-lock"></i> Login</a></li> -->
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

</header>

<script type="text/ng-template" id="aside-cart.html">
    <ngcart-cart template-url="components/ngcart/cart.html">
    </ngcart-cart>
</script>

<!-- <div class="navbar navbar-default navbar-static-top">
  <div class="container">
    <div class="navbar-header">
      <button class="navbar-toggle" type="button" ng-click="isCollapsed = !isCollapsed">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="/" class="navbar-brand">dandelion</a>
    </div>
    <div collapse="isCollapsed" class="navbar-collapse collapse" id="navbar-main">
      <ul class="nav navbar-nav">
        <li ng-repeat="item in menu" ui-sref-active="active">
            <a ui-sref="{{item.state}}">{{item.title}}</a>
        </li>
        <li ng-show="isAdmin()" ui-sref-active="active"><a ui-sref="admin">Admin</a></li>
      </ul>

      <form class="navbar-form navbar-left" role="search">
        <div class="form-group">
          <div class="input-group">
            <span class="input-group-addon"><span class="fa fa-search"></span></span>
            <input id="searchBox" type="text" class="form-control input-large" placeholder="Search" ng-model="searchTerm" ng-change="search()" ng-focus="redirect()">
          </div>
        </div>
      </form>

      <ul class="nav navbar-nav navbar-right">
        <li ng-hide="isLoggedIn()" ui-sref-active="active"><a ui-sref="signup">Sign up</a></li>
        <li ng-hide="isLoggedIn()" ui-sref-active="active"><a ui-sref="login">Login</a></li>
        <li ng-show="isLoggedIn()"><p class="navbar-text">Hello {{ getCurrentUser().name }}</p> </li>
        <li ng-show="isLoggedIn()" ui-sref-active="active"><a ui-sref="settings"><span class="glyphicon glyphicon-cog"></span></a></li>
        <li ng-show="isLoggedIn()"><a ui-sref="logout">Logout</a></li>
        <li>
          <a ui-sref="checkout">
            <ngcart-summary template-url="components/ngcart/summary.html"></ngcart-summary>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
 -->