// Main navbar
.navbar-default.main-navbar{
  background-color: rgba(0,0,0,.2);
  border: none;
  font-size: 14px;
  padding: 0 20px;
  letter-spacing: .05em;

  box-shadow: none;

  .navbar-brand {
    color: $link-color-main;
    font-family: 'Pacifico';
    font-size: 2em;
    @include transition-duration(.2s);

    &:hover,
    &:focus {
      color: $link-hover-color-main;
    }

    span {
      color: $red;
    }
  }

  .navbar-nav > li > a {
    color: $link-color-main;

    &:hover,
    &:focus {
      color: $link-hover-color-main;
    }
  }

  .navbar-nav > .active > a,
  .navbar-nav > .active > a:hover,
  .navbar-nav > .active > a:focus {
    color: $link-hover-color-main;
    background-color: transparent;
    border: none;
  }

  .navbar-nav > .open > a,
  .navbar-nav > .open > a:hover,
  .navbar-nav > .open > a:focus {
    color: $link-hover-color-main;
    background-color: transparent;
    border: none;
  }

  li > .dropdown-menu {
    background-color: #131313;
    
    a {
      color: $link-color-main;

      &:hover,
      &:focus {
        background: transparent;
        color: $link-hover-color-main;
      }
    }
  }
}

// Other navbar
.navbar-default{
  background-color: #FFF;
  border: none;
  font-size: 14px;
  padding: 0 20px;
  letter-spacing: .05em;

  @include box-shadow(0px 1px 10px #777);

  .navbar-brand {
    color: $link-color;
    font-family: 'Pacifico';
    font-size: 2em;
    @include transition-duration(.2s);

    &:hover,
    &:focus {
      color: $link-hover-color;
    }

    span {
      color: #F76D50;
    }
  }

  .navbar-nav > li > a {
    color: $link-color;

    &:hover,
    &:focus {
      color: $link-hover-color;
    }
  }

  .navbar-nav > .active > a,
  .navbar-nav > .active > a:hover,
  .navbar-nav > .active > a:focus {
    color: $link-hover-color;
    background-color: transparent;
    border: none;
  }

  .navbar-nav > .open > a,
  .navbar-nav > .open > a:hover,
  .navbar-nav > .open > a:focus {
    color: $link-hover-color;
    background-color: transparent;
    border: none;
  }

  li > .dropdown-menu {
    background-color: white;
    
    a {
      color: $link-color;

      &:hover,
      &:focus {
        background: transparent;
        color: $link-hover-color;
      }
    }
  }
}

.app-modal-window .modal-dialog {
  width: 400px;
}

.img-wrapper {
  width: 100%;
  height: 150px;
  
  img {
    max-width: 100%;
    max-height: 100%;
    border: 0.5px solid black;
  }
}
.cart-product {
  margin-bottom: 20px;
}