<nav  ng-if="!isAdminState"
      class="navbar navbar-default" 
      ng-class="{'navbar-fixed-top main-navbar' : currentState == 'main', 'navbar-fixed-top' : currentState == 'products' }">
    <!-- {{currentState}} -->
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <a class="navbar-brand" href="/">Dandelion<span>.</span></a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-right">
        <li ui-sref-active="active">
          <a ui-sref="products">Shop</a>
        </li>
        <li ng-show="isAdmin()" ui-sref-active="active">
          <a ui-sref=".admin">Dashboard</a>
        </li>
        <li ng-hide="isAdmin()" class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">Account<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a ui-sref="account.edit">Information</a></li>
            <li><a ui-sref="account.addresses">Addresses</a></li>
            <li><a ui-sref="account.orders">Orders</a></li>
          </ul>
        </li>
        <li ng-show="isLoggedIn()"><a ui-sref="logout">Logout</a></li>
        <li ng-hide="isLoggedIn()" ui-sref-active="active">
          <a ui-sref=".signup">Sign up</a>
        </li>
        <li ng-hide="isLoggedIn()" ui-sref-active="active">
          <a ui-sref=".login">Log in</a>
        </li>
        <li>
          <a href="#" ng-click="showCart()">
            <ngcart-summary template-url="components/ngcart/summary.html"></ngcart-summary>
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<script type="text/ng-template" id="aside-cart.html">
  <div class="modal-header">
    <h3>Giỏ hàng</h3>
    <div ng-hide="ngCart.isEmpty()">
      <button class="btn btn-default" ng-click="checkout($event)">Thanh toán</button>
      <div>
        <strong>{{ngCart.totalCost() | currency:undefined:0}}</strong>
      </div>
    </div>
  </div>
  <div class="modal-body">
    <ngcart-cart template-url="components/ngcart/cart.html">
    </ngcart-cart>
  </div>
</script>