header {
  height: 100vh;
  background: url('/assets/images/header4.jpg');
  background-size: cover;
  position: relative;

  .header-content {
    overflow: auto;
    position: absolute;
    top: 50%;
    right: 5em;
    transform: translateY(-50%);
    text-align: center;

    h1 {
      color:  $red;
    }

    .btn-primary {
      background-color: rgba(0, 0, 0, 0);
      color: #FFF;
      border: 2px solid #FFF;
      border-radius: 0;
      margin-top: 30px;
      
      text-transform: uppercase;

      @include transition-duration(.2s);

      &:hover,
      &:focus {
        background-color: rgba(0, 0, 0, .2);
      }
    }

    .fa-long-arrow-right {
      margin-left: 10px;
    }
  }
}