<div class="left-sidebar">
	<h2>Category</h2>
	<div class="panel-group category-products" id="accordian">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h4 class="panel-title">
					<a data-toggle="collapse" data-parent="#accordian" href="#shirt">
						<span class="badge pull-right"><i class="fa fa-plus"></i></span>
						Áo
					</a>
				</h4>
			</div>
			<div id="shirt" class="panel-collapse collapse">
				<div class="panel-body">
					<ul>
						<li><a href="#" ng-click="showCat('ao-thun')">Áo thun </a></li>
						<li><a href="#" ng-click="showCat('ao-somi')">Áo sơ mi </a></li>
						<li><a href="#" ng-click="showCat('ao-ba-lo')">Áo ba lỗ </a></li>
						<li><a href="#" ng-click="showCat('ao-khoac')">Áo khoác </a></li>
						<li><a href="#" ng-click="showCat('ao-vest')">Áo Vest </a></li>
					</ul>
				</div>
			</div>
		</div>
		<div class="panel panel-default">
			<div class="panel-heading">
				<h4 class="panel-title">
					<a data-toggle="collapse" data-parent="#accordian" href="#pants">
						<span class="badge pull-right"><i class="fa fa-plus"></i></span>
						Quần
					</a>
				</h4>
			</div>
			<div id="pants" class="panel-collapse collapse">
				<div class="panel-body">
					<ul>
						<li><a href="#" ng-click="showCat()">Quần jean </a></li>
						<li><a href="#" ng-click="showCat()">Quần kaki </a></li>
						<li><a href="#" ng-click="showCat()">Quần tây </a></li>
						<li><a href="#" ng-click="showCat()">Quần short </a></li>
						<li><a href="#" ng-click="showCat()">Quần thun </a></li>
					</ul>
				</div>
			</div>
		</div>
		<div class="panel panel-default">
			<div class="panel-heading">
				<h4 class="panel-title">
					<a data-toggle="collapse" data-parent="#accordian" href="#accessory">
						<span class="badge pull-right"><i class="fa fa-plus"></i></span>
						Phụ kiện
					</a>
				</h4>
			</div>
			<div id="accessory" class="panel-collapse collapse">
				<div class="panel-body">
					<ul>
						<li><a href="#" ng-click="showCat()">Giày dép </a></li>
						<li><a href="#" ng-click="showCat()">Đồng hồ </a></li>
						<li><a href="#" ng-click="showCat()">Mắt kính </a></li>
						<li><a href="#" ng-click="showCat()">Dây nịch </a></li>
						<li><a href="#" ng-click="showCat()">Túi xách </a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>