<!-- Errors -->
<div ng-show="errors" class="alert alert-danger errors" role="alert">
  <strong>Error(s):</strong>
  <p>{{ errors }}</p>
</div>

<!-- Form -->
<div class="row">
  <!-- Image Upload -->
  <div class="col-md-2">
    <div ngf-select="upload($file)" ngf-drop="upload($file)" class="drop-box"
      ngf-drag-over-class="dragover" ngf-multiple="true"
      ngf-pattern="'image/*'" ngf-max-size="15MB" accept="image/*">Drop Images here or click to upload</div>
    <div ngf-no-file-drop>File Drag/Drop is not supported for this browser</div>

    <button accept="image/*" ngf-max-size="15MB" type="file" class="btn btn-primary" ngf-select="upload($file)">Upload on file select</button>

    <h2 ng-show="file">Preview</h2>
    <img ngf-src="file" width="170px">
    <div ng-show="file">{{file.name}} {{file.$error}} {{file.$errorParam}}</div>
  </div>
  
  <!-- Information -->
  <div class="col-md-10">
    <!-- Name -->
    <div class="form-group">
      <label for="name" class="col-sm-2 control-label">
        Title
      </label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="name" placeholder="Product name" ng-model="product.name"/>
      </div>
    </div>
    
    <!-- Description -->
    <div class="form-group">
      <label for="description" class="col-sm-2 control-label">
        Description
      </label>
      <div class="col-sm-10">
        <input type="text" ng-model="product.description" class="form-control" id="description" placeholder="Describe your product..."/>
      </div>
    </div>
    
    <!-- Price -->
    <div class="form-group">
      <label for="price" class="col-sm-2 control-label">
        Price
      </label>
      <div class="col-sm-10">
        <input type="number" step="any" min="0" ng-model="product.price" class="form-control" id="price" placeholder="0.00"/>
      </div>
    </div>
    
    <!-- Submit button -->
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <input type="submit" class="btn btn-primary" value="Save"/>
      </div>
    </div>
  </div>
</div>