<div class="container">
	<div class="row">
		<h1>Products</h1>
		<div 	class="col-sm-6 col-md-4"
					ng-show="products.length < 1">
			No products to show.
		</div>
		<a ui-sref="newProduct">New Product</a>
	</div>

	<div class="row">
		<div 	class="col-sm-6 col-md-4"
					ng-repeat="product in products">
			<div class="thumbnail">
				<img 	ng-src="{{product.imageUrl}}" alt="{{product.name}}">
				<div class="caption">
					<h3>{{ product.name }}</h3>
					<p>{{ product.description | limitTo: 100 }} ...</p>
					<p>{{ product.price | currency }}</p>
					<p>
						<ngcart-addtocart id="{{product._id}}" 
															quantity="1" 
															quantity-max="{{product.stock}}" 
															name="{{product.name}}" 
															price="{{product.price}}" 
															template-url="components/ngcart/addtocart.html">
							Add to Cart
						</ngcart-addtocart>
						<a 	class="btn btn-default" role="button" 
								ui-sref="viewProduct({id: product._id})">
							Details	
						</a>
					</p>
				</div>
			</div>
		</div>
	</div>
</div>