<div class="container padding-top">
	<div class="row">
		
		<!-- CATEGORIES -->
		<div class="col-md-3">
    	<sidebar></sidebar>
    </div>
		
		<!-- PRODUCT PAGE -->
    <div class="col-md-9">
			
			<!-- TOOLBOX -->
	    <div class="row toolbox">
	    	<div class="col-sm-4">
					<div class="search_box">
						<input type="text" placeholder="Tìm kiếm" ng-model="query"/>
					</div>
				</div>
				<div class="col-md-8">
					<div class="sort-group btn-group pull-right" data-toggle="buttons">
						<label class="btn" ng-click="order('price')">
					    <input type="radio" name="options" id="option1" autocomplete="off"> Giá thấp
					  </label>
					  <label class="btn" ng-click="order('-price')">
					    <input type="radio" name="options" id="option2" autocomplete="off"> Giá cao
					  </label>
					  <label class="btn" ng-click="order('slug')">
					    <input type="radio" name="options" id="option3" autocomplete="off"> A - Z
					  </label>
					  <label class="btn" ng-click="order('-slug')">
					    <input type="radio" name="options" id="option4" autocomplete="off"> Z - A
					  </label>
					</div>
				</div>
	    </div>
			
			<!-- EMPTY -->
			<div class="row" ng-show="products.length < 1">
				Không có sản phẩm nào để hiển thị.
			</div>

			<!-- PRODUCTS LIST -->
	    <div class="row product-list">
				<div class="col-sm-4 single-item" ng-repeat="product in products | filter: query || myFilter | orderBy:predicate">
					<div class="product-image-wrapper">
						<a ui-sref="viewProduct({id: product._id})">
							<img src="{{product.imageUrl[0]}}" alt="{{product.name}}" />
						</a>
						<div class="hover-box">
							<ngcart-addtocart id="{{product._id}}" 
															name="{{product.name}}" 
															price="{{product.price}}" 
															template-url="components/ngcart/addtocart.html" 
															data="product">
								<i class="fa fa-shopping-cart"></i>
								Thêm vào giỏ
							</ngcart-addtocart>
						</div>
					</div>
					<div class="product-info text-center">
						<div class="product-name">{{ product.name }}</div>
						<div><strong>{{ product.price | currency:undefined:0 }}</strong></div>
					</div>
				</div>
	    </div>
    </div>
	</div>
</div>

<a href="#0" class="cd-top">Top</a>

<script type="text/javascript">
	$(document).ready(function($){
		// browser window scroll (in pixels) after which the "back to top" link is shown
		var offset = 300,
			//browser window scroll (in pixels) after which the "back to top" link opacity is reduced
			offset_opacity = 1200,
			//duration of the top scrolling animation (in ms)
			scroll_top_duration = 700,
			//grab the "back to top" link
			$back_to_top = $('.cd-top');

		//hide or show the "back to top" link
		$(window).scroll(function(){
			( $(this).scrollTop() > offset ) ? $back_to_top.addClass('cd-is-visible') : $back_to_top.removeClass('cd-is-visible cd-fade-out');
			// if( $(this).scrollTop() > offset_opacity ) { 
			// 	$back_to_top.addClass('cd-fade-out');
			// }
		});

		//smooth scroll to top
		$back_to_top.on('click', function(event){
			event.preventDefault();
			$('body,html').animate({
				scrollTop: 0 ,
			 	}, scroll_top_duration
			);
		});

	});
</script>