<div class="container padding-top">
  <div class="col-md-4">
    <!-- <ul class="product-thumbnail">
      <li class="col-md-2" ng-repeat="img in product.imageUrl">
        <img ng-src="{{img}}">
      </li>
      <img src="{{mainImageUrl}}" class="product">
    </ul> -->
    <slick  dots="true" 
            init-onload="true" 
            data="product.imageUrl" 
            adaptiveHeight="true" 
            arrow="true">
      <div ng-repeat="pic in product.imageUrl">
        <img ng-src="{{pic}}" width="100%">
      </div>
    </slick>
  </div>
  <div class="col-md-8">
    <h1>{{product.name}}</h1>
    <p>{{product.description}}</p>
    <p>{{product.stock}}</p>
    <ngcart-addtocart ng-if="product.stock"
                    id="{{product._id}}" 
                    name="{{product.name}}" 
                    price="{{product.price}}" 
                    template-url="components/ngcart/addtocart.html"
                    quantity="1"
                    quantity-max="{{product.stock}}"
                    data="product">
      <i class="fa fa-shopping-cart"></i>
      Thêm vào giỏ
    </ngcart-addtocart>
  </div>
</div>