<div class="container">
  <div class="row">
    <h1>Cart</h1>
    <ngcart-cart template-url="components/ngcart/cart.html">
    </ngcart-cart>
  </div>
  <div class="row">
    <h1>Choose a payment method</h1>
    <p class="help-block">{{ errors }}</p>
    <div class="col-md-6">
      <!-- <form>
        <braintree-dropin options="paymentOptions">
          Loading...
        </braintree-dropin>
        <input type="submit" value="Purchase">
      </form> -->
      <form id="checkout" method="post" action="/checkout">
        <div id="payment-form"></div>
        <input type="submit" value="Pay $10">
      </form>
    </div>
  </div>
</div>

<!-- <script src="https://js.braintreegateway.com/js/braintree-2.21.0.min.js"></script> -->