<!-- <a ui-sref="account.editAddress">Edit</a><a ui-sref="account.createAddress">Create</a> -->
<h2 class="title text-center">Sổ địa chỉ</h2>

<div class="dashboard-address">
	<p class="new-address"><a ui-sref="account.createAddress"><i class="fa fa-plus-square-o"></i> <strong>Thêm địa chỉ mới</strong></a></p>
	<div class="col-md-6" ng-repeat="address in addresses | orderBy:'-default'">
		<div class="panel panel-default address"  ng-class="{default: address.default}">
			<p><strong>{{ address.name }}</strong></p>
			<p>Địa chỉ: {{address.street}}, {{address.ward.title}}, {{address.district.title}}, {{address.city.title}}.</p>
			<p>Điện thoại: {{address.phone}}</p>
			
			<div class="button-group">
				<a ui-sref="account.editAddress({id: address._id})" class="btn btn-default">Sửa</a>
				<a ng-click="delete(address._id)" class="btn btn-default" ng-hide="address.default">Xóa</a>
			</div>
			<span ng-if="address.default">Mặc định</span>
		</div>
	</div>
</div>