<h2 class="title text-center">Tạo sổ địa chỉ</h2>
    
<form class="form-horizontal" name="form" ng-submit="createAddress()" novalidate>
  
  <div class="form-group" ng-class="{ 'has-success': form.name.$valid && submitted,
                                      'has-error': form.name.$invalid && submitted }">
    <label class="control-label col-sm-2">Họ Tên:</label>
    <div class="col-sm-5">
      <input type="text" name="name" class="form-control" ng-model="address.name" required>
    </div>
    <div class="col-sm-5">
      <p class="help-block" ng-show="form.name.$error.required && submitted">
        * Bạn chưa nhập họ tên
      </p>
    </div>
  </div>
  <!-- {{address.name}} -->

  <div class="form-group" ng-class="{ 'has-success': form.phone.$valid && submitted,
                                      'has-error': form.phone.$invalid && submitted }">
    <label class="control-label col-sm-2">Số điện thoại:</label>
    <div class="col-sm-5">
      <input type="text" name="phone" class="form-control" ng-model="address.phone" required>
    </div>
    <div class="col-sm-5">
      <p class="help-block" ng-show="form.phone.$error.required && submitted">
        * Bạn chưa nhập số điện thoại
      </p>
    </div>
  </div>
  <!-- {{address.phone}} -->

  <div class="form-group" ng-class="{ 'has-success': form.city.$valid && submitted,
                                      'has-error': form.city.$invalid && submitted }">
    <label class="control-label col-sm-2">Tỉnh/Thành phố:</label>
    <div class="col-sm-5">
      <select id="city" name="city" class="form-control" ng-model="address.city" placeholder="Chọn Quận/Huyện" required
              ng-options="city.Title for city in cities | orderBy: 'SolrID'">
        <option value="">- Chọn Tỉnh/Thành Phố -</option>
      </select>
    </div>
    <div class="col-sm-5">
      <p class="help-block" ng-show="form.city.$error.required && submitted">
        * Bạn chưa chọn tỉnh/thành phố
      </p>
    </div>
  </div>
  <!-- {{address.city}} -->

   <div class="form-group" ng-class="{ 'has-success': form.district.$valid && submitted,
                                       'has-error': form.district.$invalid && submitted }">
    <label class="control-label col-sm-2">Quận huyện:</label>
    <div class="col-sm-5">
      <select id="district" name="district" class="form-control" ng-model="address.district" placeholder="Chọn Quận/Huyện" required
              ng-options="district.Title for district in districts | orderBy: 'SolrID'">
        <option value="">- Chọn Quận/Huyện -</option>
      </select>
    </div>
    <div class="col-sm-5">
      <p class="help-block" ng-show="form.district.$error.required && submitted">
        * Bạn chưa chọn quận/huyện
      </p>
    </div>
  </div>
  <!-- {{address.district}} -->

  <div class="form-group" ng-class="{ 'has-success': form.ward.$valid && submitted,
                                      'has-error': form.ward.$invalid && submitted }">
    <label class="control-label col-sm-2">Phường xã:</label>
    <div class="col-sm-5">
      <select id="ward" name="ward" class="form-control" ng-model="address.ward" placeholder="Chọn Phường/Xã" required
              ng-options="ward.Title for ward in wards | orderBy: 'SolrID'">
        <option value="">- Chọn Phường/Xã -</option>
      </select>
    </div>
    <div class="col-sm-5">
      <p class="help-block" ng-show="form.ward.$error.required && submitted">
        * Bạn chưa chọn phường/xã
      </p>
    </div>
  </div>
  <!-- {{address.ward}} -->

  <div class="form-group" ng-class="{ 'has-success': form.street.$valid && submitted,
                                      'has-error': form.street.$invalid && submitted }">
    <label class="control-label col-sm-2">Địa chỉ:</label>
    <div class="col-sm-5">
      <textarea name="street" class="form-control" ng-model="address.street" rows="3" required></textarea>
    </div>
    <div class="col-sm-5">
      <p class="help-block" ng-show="form.street.$error.required && submitted">
        * Bạn chưa nhập địa chỉ
      </p>
    </div>
  </div>
  <!-- {{address.street}} -->

  <div class="form-group"> 
    <div class="col-sm-offset-2 col-sm-10">
      <div class="checkbox">
        <label><input ng-model="address.default" type="checkbox">Sử dụng địa chỉ này làm mặc định.</label>
      </div>
    </div>
  </div>
  <!-- {{address.default}} -->

  <div class="form-group"> 
    <div class="col-sm-offset-2 col-sm-10">
      <button type="submit" class="btn btn-primary">Tạo địa chỉ</button>
    </div>
  </div>
</form>