<div class="alert alert-warning" role="alert" ng-show="ngCart.getTotalItems() === 0">
    Your cart is empty
</div>
<div class="row cart-product" ng-repeat="item in ngCart.getCart().items track by $index">
  <div class="col-md-5">
    <div class="img-wrapper">
      <img class= "pull-right" src="{{item.getData().imageUrl[0]}}" alt="{{item.getName()}}" />
    </div>
  </div>
  <div class="col-md-7">
    <span ng-click="ngCart.removeItemById(item.getId())" class="glyphicon glyphicon-remove"></span>
    <p><strong>{{ item.getName() }}</strong></p>
    
    <p>
      <strong>Số lượng</strong>
      <span class="glyphicon glyphicon-minus" 
            ng-class="{'disabled':item.getQuantity()==1}"
            ng-click="item.setQuantity(-1, true)"></span>
        {{ item.getQuantity() | number }}
      <span class="glyphicon glyphicon-plus" 
            ng-click="item.setQuantity(1, true)"></span>
    </p>
    
    <p>
      <strong>Giá</strong>
      {{ item.getPrice() | currency}}      
    </p>  
      
    <p>
      <strong>Tổng cộng</strong>
    {{ item.getTotal() | currency }}  
    </p>
  </div>
</div>