h2.title {
  color: #FE980F;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  font-weight: 700;
  margin: 0 auto 30px;
  text-align: center;
  text-transform: uppercase;
  position: relative;
  z-index: 3;
}
.auth-form {
	width: 700px;
	margin: 0 auto;
	border: 1px solid rgba(0,0,0,0.3);

	.heading {
		background-color: $red;
		color: white;
		text-transform: uppercase;
		text-align: center;
		margin-bottom: 20px;
	}

	.btn-main {
		width: 100%;
		background-color: $red;
		color: $link-color-main;

		&:hover,
		&:focus {
			background-color: darken($red, 10%);
			color: $link-hover-color-main;
		}
	}

	.link-sub {
		text-decoration: none;
		color: $link-color;

		&:hover,
		&:focus {
			color: $link-hover-color;
		}
	}

	.oauth-login {
		margin-bottom: 20px;
	}
}

.settings-panel {
	border: 1px solid #F7F7F0;
	
	li {
		margin: 15px 0;
		
		a {
			text-transform: uppercase;
			color: #696763;
			font-size: 14px;
		}

		a:hover {
			color: #FE980F;
		}
	}

	li.active {
		a {
			color: #FE980F;	
			text-decoration: none;
		}
	}
}

.dashboard-address {

	.address {
		position: relative;
		padding: 10px 15px;
		height: 160px;
		
		.button-group {
			position: absolute;
			left: 15px;
			bottom: 10px;
		}
		// .edit-btn {
		// 	position: absolute;
		// 	left: 15px;
		// 	bottom: 10px;
		// }
		// .delete-btn {
		// 	position: absolute;
		// 	left: 15px;
		// 	bottom: 10px;
		// }
	}
	.default {
		border: 1px dashed #090;

		span {
			position: absolute;
			top: 10px;
			right: 25px;
			color: #090;
			font-size: 10px;
		}
	}
	
	.new-address {
		padding: 5px 15px;
		margin-bottom: 10px;
		text-align: right;
		
		a {
			color: #090;
		}
	}
}

